<<<<<<< HEAD
body {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight:300 ;
  font-style:normal 
}

label {
    font-family: "Lexend Peta", sans-serif;
    font-optical-sizing: auto;
    font-weight:300 ;
    font-style:normal 
=======
#form-container{
    display: none;
>>>>>>> a3cb1d19e83e346a464bdf7f3374758cbf1c4ee5
}